.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css o similar */
.course-content {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.course-content h1,
.course-content h2,
.course-content h3,
.course-content h4,
.course-content h5,
.course-content h6 {
  margin-top: 20px;
}

.course-content p {
  margin-bottom: 15px;
}

.course-content ul,
.course-content ol {
  padding-left: 20px;
  margin-bottom: 15px;
}

.course-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.course-content table,
.course-content th,
.course-content td {
  border: 1px solid #ddd;
  padding: 8px;
}

.course-content th {
  background-color: #f4f4f4;
}